.home{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.home_right{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home_right_bottom{
    flex : 0.89;
    height: 100%;
    background-color:   #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_right_bottom_1{
    width: 81.5vw;
    flex: 0.3;
    background-color: white;
    margin-top: 3vh;
    border-radius: 8px;
    
}

.home_right_bottom_2{
    width: 81.5vw;
    flex: 0.7;
    background-color: white;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 8px;
}

.home_right_bottom_1-1{
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    width: 10vw;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    width: 16vw;
    height : 6vh;
    font-size: 2vh;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    width: 16vw;
    height : 25vh
}

/* .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 2vh;
}

.MuiButtonBase-root .MuiMenuItem-root .MuiMenuItem-gutters .MuiMenuItem-root .MuiMenuItem-gutters .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 2vh;
} */

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    font-size: 2vh;
}

.home_right_bottom_1-1-left{
    display: flex;
    width: 40vw;
}

.home_right_bottom_1-1-right{
    display: flex;
    width: 20vw;
    justify-content: right;
}

.graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7vh;
    margin-right: 1vw;
}

.home_right_bottom_1-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

